# Archivos R/RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history

# Outputs generados
*.html
#*.pdf
*.docx
#*.xlsx
*rtf

# Sistema
.DS_Store
**/.DS_Store
Thumbs.db

# Datos grandes (>50MB)
#*.csv
#*.rds
*.feather

# Carpetas específicas para ignorar
papers - notas/

# Archivos de datos sensibles
documentos carceles - ising/Datos reos - sensible/*.xlsx
documentos carceles - ising/Datos reos - sensible/*.csv
documentos carceles - ising/Datos reos - sensible/*.rds

# Ignorar todo en la carpeta, excepto la subcarpeta específica
# documentos carceles - ising/*
# !documentos carceles - ising/Datos reos - sensible/
# !documentos carceles - ising/Datos reos - sensible/**

# Ignorar todas las carpetas con un nombre específico en cualquier lugar del proyecto
#**/nombre_carpeta/

